
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>I LOVE FORMS !!!</title>
  </head>

  <body>

    <div class="container-fluid p-3 mb-2 bg-success text-white">
      <br />
      <h3 align="center">informations enregistrées.</h3>
    </div>

    <div align="center" class="container">
      <%= link_to "Retour à la page de création", new_user_path %>
    </div>

  </body>

</html>
